@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
// Ubuntu font weights: 400, 500, 700
// Overpass font weights: 300, 600
$gradient-very-lightred: hsl(13, 100%, 72%);
$gradient-lightred: hsl(353, 100%, 62%);
$gradient-darkgrayblue-body: hsl(237, 17%, 21%);
$gradient-darksaturatedblue-body: hsl(237, 23%, 32%);
$overpass-font: 'Overpass', sans-serif;
$ubuntu-font: 'Ubuntu', sans-serif;
$cta-text: hsl(356, 100%, 66%);
$cta-hover-bg: hsl(355, 100%, 74%);
$heading-text-color: hsl(208, 49%, 24%);
$body-text-color: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
$footer-text-color: hsl(240, 2%, 79%);

@mixin center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --height: 0px;
}

.illustration-desktop{display: none;}


#container
{
    overflow: scroll;
    header
    {
        display: flex;
        border-radius: 0 0 0 6em;
        flex-flow: column;
        position: relative;
        background-image: linear-gradient(145deg, $gradient-very-lightred, $gradient-lightred);
        height: 600px;
        overflow: hidden;
        z-index: 2;
        gap: 7em;
        padding: 12.5em 1em;

        .mobile-bkg
        {
            display: block;
            position: absolute;
            top: -255px;
            left: -340px;
            z-index: -1;
        }
        .desktop-bkg{display: none;}

        #nav-desktop{display: none;}

        #nav-mobile
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 3em 1em 1.5em 1em;
            transition: background-color 150ms ease;
            z-index: 999;
            border-radius: 0 0 1.5em 1.5em;
            .nav-menu
            {
                position: fixed;
                display: block;
                background: white;
                border-radius: 6px;
                box-shadow: 0 12px 24px 2px hsla(0 0% 50% / 0.5);
                font-family: $overpass-font;
                width: 90%;
                max-height: 76%;
                overflow: scroll;
                top: 105px; 
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: opacity 250ms ease, visibility 250ms ease, top 250ms ease;
                padding: 2em 0;

                &.active
                {
                    opacity: 1;
                    visibility: visible;
                    top: 110px;
                }

                .menu-options
                {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    gap: 1em;

                    .menu-header
                    {
                        @include center;
                        gap: 5px;

                        h2{
                            font-size: 18px;
                            color: $heading-text-color;
                        }

                        img
                        {
                            transform: rotate(0deg);
                            transition: transform 250ms ease;

                            &.active
                            {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .submenu-option
                    {
                        @include center;
                        flex-flow: column;
                        gap: 1.2em;
                        text-align: center;
                        background: #eee6e6;
                        width: 85%;
                        border-radius: 6px;
                        padding: 0;
                        overflow: hidden;
                        font-weight: 600;
                        height: 0px;
                        transition: height 250ms ease, padding 250ms ease;
                        color: $body-text-color;

                        &.active
                        {
                            height: var(--height);
                            padding: 4.5em 0;
                        }
                    }

                    .buttons
                    {
                        @include center;
                        flex-flow: column;
                        gap: 1.25em;
                        border-top: 1px solid grey;
                        padding-top: 2em;
                        margin-top: 1em;
                        width: 85%;

                        a
                        {
                            text-decoration: none;
                            color: $heading-text-color;
                            font-weight: 600;
                            

                            &:nth-child(2)
                            {
                                color: white;
                                background: linear-gradient(90deg, $gradient-very-lightred, $gradient-lightred);
                                padding: 0.7em 2em;
                                border-radius: 32px;
                            }
                        }
                    }
                }
            }
            
            #hamburger-open
            {
                display: block;
                opacity: 1;
                visibility: visible;
                transition: opacity 250ms ease, visibility 250ms ease;
                &.active
                {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            #hamburger-close
            {
                display: none;
                opacity: 0;
                visibility: hidden;
                transition: opacity 250ms ease, visibility 250ms ease;
                &.active
                {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        #message
        {
            @include center;
            flex-flow: column;
            h1, p
            {
                text-align: center;
                font-family: $overpass-font;
                color: white;
            }

            h1
            {
                font-weight: 600;
                letter-spacing: -0.5px;
                margin-bottom: 0.5em;
                max-width: 14ch;
            }

            p{max-width: 22ch;}

            #cta
            {
                @include center;
                padding: 1em;
                gap: 16px;
                font-family: $ubuntu-font;
                margin-top: 2em;

                a
                {
                    @include center;
                    text-decoration: none;
                    border-radius: 32px;
                    width: 137px;
                    height: 48px;
                    font-weight: 500;

                    &:nth-child(1)
                    {
                        color: $cta-text;
                        background: white;
                        transition: color 200ms ease, background 250ms ease;
                    }

                    &:hover:nth-child(1)
                    {
                        background: $cta-hover-bg;
                        color: white;
                    }

                    &:nth-child(2)
                    {
                        color: white;
                        border: 1px solid white;
                        transition: color 200ms ease, background 250ms ease;
                    }

                    &:hover:nth-child(2)
                    {
                        background: white;
                        color: $cta-text;
                    }
                }
            }
        }
    }

    section
    {
        text-align: center;
        font-family: $overpass-font;
        font-weight: 300;
    }

    #first__section
    {
        display: flex;
        flex-flow: column;
        gap: 2em;
        padding: 6.44em 0 0 0;
        // height: 1459px;
        height: 1345px;

        h2
        {
            color: $heading-text-color;
        }

        p
        {
            color: $body-text-color;
        }

        #first__section__body
        {
            display: flex;
            align-items: center;
            flex-flow: column;
            gap: 2em;


            .illustration-mobile
            {
                max-width: 100%;
            }

            #first__section__body__text
            {
                display: flex;
                flex-flow: column;
                gap: 3em;
                .body__text
                {
                    @include center;
                    flex-flow: column;
                    gap: 1em;
                    h2
                    {
                        max-width: 12ch;
                    }

                    p
                    {
                        max-width: 30ch;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    #second__section
    {
        @include center;
        flex-flow: column;
        height: 625px;
        position: relative;
        background-image: linear-gradient($gradient-darkgrayblue-body, $gradient-darksaturatedblue-body);
        border-radius: 0 6em 0 6em;
        z-index: 1;

        .phone-illustration
        {
            position: absolute;
            top: -185px;
            max-width: 100%;
            z-index: 0;
        }

        #bg-circle-pattern-container
        {
            @include center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0 6em 0 6em;
            overflow: hidden;
            z-index: -1;
            #bg-circle-pattern
            {
                position: absolute;
                top: -230px;
                $bg-circle-width: 600px;
                width: $bg-circle-width;
                height: calc($bg-circle-width + 4px);
            }
        }

        #second__section__body__text
        {
            z-index: 1;
            .body__text
            {
                @include center;
                flex-flow: column;
                gap: 1em;
                padding-top: 7em;
                h2
                {
                    max-width: 12ch;
                    color: white;
                    font-weight: 300;
                    font-size: 40px; 
                }

                p
                {
                    max-width: 30ch;
                    line-height: 1.6;
                    color: white;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
    }

    #third__section
    {
        padding: 64px 0 90px 0;

        h2
        {
            color: $heading-text-color;
        }

        p
        {
            color: $body-text-color;
        }

        #third__section__body
        {
            display: flex;
            align-items: center;
            flex-flow: column;
            gap: 2em;

            #third__section__body__text
            {
                display: flex;
                flex-flow: column;
                gap: 3em;
                .body__text
                {
                    @include center;
                    flex-flow: column;
                    gap: 2em;
                    h2
                    {
                        max-width: 13ch;
                    }

                    p
                    {
                        max-width: 29ch;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    footer
    {
        @include center;
        flex-flow: column;
        gap: 4em;
        background: $footer-background;
        border-radius: 0 6em 0 0;
        padding: 65.5px 0;

        h1, p{text-align: center;}
        h1
        {
            color: white;
            font-family: $ubuntu-font;
            font-weight: 400;
            font-size: 20px;
        }

        p
        {
            color: $footer-text-color;
            font-family: $overpass-font;
            font-size: 20px;
        }

        .footer__section
        {
            display: flex;
            flex-flow: column;
            gap: 32px;

            .links
            {
                display: flex;
                flex-flow: column;
                gap: 8px;
            }
        }
    }
}

.attribution
{
    @include center;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 1em;
    border-radius: 0 0 8px 8px;
    z-index: 3;
    background: white;
    font-family: $overpass-font;
    font-weight: 600;
    width: 25ch;
    height: 92px;
    box-shadow: 0 12px 24px 2px hsla(0 0% 50% / 0.5);
    animation: attr-fade-in 250ms ease forwards, attr-fade-out 250ms 5.25s ease forwards;
    a
    {
        color: black;
    }
}

@media only screen and (min-width: 1298px)
{
    .illustration-desktop{display: block;}
    .illustration-mobile{display: none;}
    #container
    {
        header
        {
            background-image: linear-gradient(90deg, $gradient-very-lightred, $gradient-lightred);
            height: 575px;
            #nav-mobile{display: none;}

            #nav-desktop
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                gap: 2.5em;             
                padding: 3em 9.5em 3em 9.5em;
                border-radius: 0 0 1.5em 1.5em;
                transition: background-color 150ms ease;

                .menu-options
                {
                    display: flex;
                    gap: 2em;
                    flex: 1;
                    color: white;
                    font-family: $overpass-font;
                    margin-left: 1em;

                    .menu-option
                    {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        position: relative;
                        padding: 8px 0;

                        h2
                        {
                            font-size: 15px;
                            cursor: default;
                        }

                        .arrow-light
                        {
                            transform: rotate(0deg);
                            transition: transform 250ms ease;
                        }

                        .submenu-option
                        {
                            display: flex;
                            flex-flow: column;
                            gap: 1em;
                            background: white;
                            color: $heading-text-color;
                            position: absolute;
                            top: 25px;
                            margin-top: 5px;
                            padding: 2em 4em 2em 1.5em;
                            font-family: $ubuntu-font;
                            left: -25px;
                            opacity: 0;
                            transition: opacity 250ms ease, top 250ms ease;
                            pointer-events: none;
                            border-radius: 6px;
                            box-shadow: 0 8px 16px 5px hsla(0 0% 50% / 0.5); 
                            span
                            {
                                cursor: pointer;
                                font-weight: 400;
                                transition: font-weight 100ms ease;
                                &:hover
                                {
                                    font-weight: 700;
                                }
                            }
                        }

                        @for $i from 1 through 3
                        {
                            &:nth-child(#{$i}):hover .submenu-option
                            {
                                opacity: 1;
                                pointer-events: all;
                                top: 30px;
                            }

                            &:nth-child(#{$i}):hover .arrow-light
                            {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .buttons
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex: 1;
                    flex-flow: row;
                    gap: 2.5em;
                    width: 85%;
                    font-family: $ubuntu-font;

                    a
                    {
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                        

                        &:nth-child(2)
                        {
                            color: $cta-text;
                            background: white;
                            padding: 1em 2.6em;
                            border-radius: 32px;
                            transition: background 250ms ease, color 250ms ease;
                            
                            &:hover
                            {
                                background: $cta-hover-bg;
                                color: white;
                            }
                        }
                    }
                }
            }

            #message
            {
                gap: 0;
                h1
                {
                    margin-bottom: 0.2em;
                    max-width: 22ch;
                    font-size: 58px;
                }

                p
                {
                    max-width: 34ch;
                    font-size: 20px;
                }

                #cta{margin-top: 1.5em;}
            }

            .desktop-bkg
            {
                display: block;
                position: absolute;
                top: -1360px;
                left: -430px;  
                z-index: -1;
            }

            .mobile-bkg{display: none;}
        }

        #first__section
        {
            height: 1010px;
            padding: 8em 0;
            gap: 0;
            overflow: hidden;

            #first__section__heading
            {
                font-size: 40px;
            }

            #first__section__body
            {
                flex: 1;
                flex-flow: row-reverse;
                justify-content: center;

                #illustration-editor-container
                {
                    position: relative;
                    flex: 1;
                    height: 100%;
                    img
                    {
                        position: absolute;
                        right: -275px;
                        top: -100px;
                    }
                }   

                #first__section__body__text
                {
                    flex: 1;
                    gap: 3em;
                    align-items: center;
                    padding-left: 5em;
                    .body__text
                    {
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-flow: column;
                        gap: 1em;
                        text-align: left;
                        h2
                        {
                           max-width: none;
                           font-size: 28px;
                        }
    
                        p
                        {
                            max-width: 50ch;
                            line-height: 1.6;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        #second__section
        {
            flex-flow: row;
            height: 400px;
            .phone-illustration
            {
                top: -62px;
                left: 7%;
            }

            #bg-circle-pattern-container
            {
                display: block;
                #bg-circle-pattern
                {
                    position: absolute;
                    top: -520px;
                    left: -225px;
                    $bg-circle-width: 1000px;
                    width: $bg-circle-width;
                    height: calc($bg-circle-width + 4px);
                }
            }

            #second__section__body__text
            {
                text-align: left;
                margin-left: 33%;
                .body__text
                {
                    padding-top: 0;
                    align-items: flex-start;
                    h2
                    {
                        max-width: 75ch;
                        color: white;
                        font-weight: 300;
                        font-size: 40px; 
                    }
    
                    p
                    {
                        max-width: 50ch;
                        line-height: 1.6;
                        color: white;
                        font-weight: 300;
                        font-size: 16px;
                    }
                }
            }
        }

        #third__section
        {
            @include center;
            padding: 0;
            height: 1025px;
            overflow: hidden;

            #third__section__body
            {
                flex-flow: row;
                #illustration-laptop-container
                {
                    
                    width: 720px;
                    img{
                        position: relative;
                        left: -265px;
                    }
                }
                
                #third__section__body__text
                {
                   
                    text-align: left;
                    width: 720px;

                    .body__text
                    {
                        justify-content: flex-start;
                        align-items: flex-start;

                        h2
                        {
                            max-width: 50ch;
                        }

                        p
                        {
                            max-width: 50ch;
                        }
                    }
                }
            }
        }

        footer
        {
            height: 359px;
            flex-flow: row;
            justify-content: space-between;
            gap: 0;
            align-items: flex-start;
            padding: 5em 20em 5em 12em;

            h1, p
            {
                text-align: left;
                font-size: 16px;
            }

            .footer__section
            {
                .links
                {
                    gap: 14px;

                    p
                    {
                        position: relative; 
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        cursor: pointer;
                        
                        &:hover::after
                        {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }

                    p::after
                    {
                        content: ' ';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $footer-text-color;
                        border-radius: 8px;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 250ms ease;
                    }
                }
            }
        }
    }
}

@keyframes attr-fade-in
{
    0%{
        opacity: 0;
        top: -10px;
    }

    100%
    {
        opacity: 1;
        top: 0;
    }
}

@keyframes attr-fade-out
{
    0%
    {
        top: 0;
        opacity: 1;
    }

    100%
    {
        top: -10px;
        opacity: 0;
        visibility: hidden;
    }
}